imports:
    - { resource: phpbb_tables.yml }

services:
    david63.pmstats.listener:
        class: david63\pmstats\event\listener
        arguments:
        tags:
            - { name: event.listener }

    david63.pmstats.admin.controller:
        class: david63\pmstats\controller\admin_controller
        arguments:
            - '@config'
            - '@dbal.conn'
            - '@request'
            - '@template'
            - '@pagination'
            - '@user'
            - '@auth'
            - '@language'
            - '@david63.pmstats.core.functions'
            - '%tables%'

    david63.pmstats.core.functions:
        class: david63\pmstats\core\functions
        arguments:
            - '@ext.manager'
